<% breadcrumb :admin_photos %>
<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table class='table sortable'>
  <thead>
    <tr>
      <th>move</th>
      <th>Image</th>
      <th>Caption</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <%= content_tag :tr, class: "row-item", data: {item_id: photo.id, post_path: url_for([:update_row_order, :admin, :photos])} do %>
        <td scope='row' class='handle'>&equiv;</td>
        <td><%= image_tag photo.image.url(:thumb) %></td>
        <td><%= photo.caption %></td>
        <td>
          <%= form_for [:admin, photo], html: {data: {remote: true}, class: "patience"} do |f| %>
            <select name="photo[tag_list][]" class="taggable" multiple="true">
              <% Tag.all.each do |tag| %>
                <%= content_tag :option, value: tag.name, selected: tag_selected?(photo, tag) do %>
                  <%= tag.name %>
                <% end %>
              <% end %>
            </select>  
            <%= f.submit 'update tags', class: "btn btn-sm btn-secondary" %>          
          <% end %>
        </td>
        <td>
          <div class='btn-group btn-group-sm'>
            <%= link_to 'Show', [:admin, photo], class: "btn btn-secondary" %>
            <%= link_to 'Edit', edit_admin_photo_path(photo), class: "btn nt btn-secondary" %>
            <%= link_to 'Destroy', [:admin, photo], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Photos', add_admin_photos_path, class: "btn btn-primary" %>
