<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table class='table sortable'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <%= content_tag :tr, class: "item", data: {item_id: photo.id, post_path: url_for([:update_row_order, :admin, :photos])} do %>
        <td><%= image_tag photo.image.url(:thumb) %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.tag_list %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Show', [:admin, photo], class: "btn btn-default" %>
            <%= link_to 'Edit', edit_admin_photo_path(photo), class: "btn nt btn-default" %>
            <%= link_to 'Destroy', [:admin, photo], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Photos', add_admin_photos_path, class: "btn btn-primary" %>
