<% breadcrumb :admin_photos %>
<p id="notice"><%= notice %></p>

<h1>Photos</h1>


<!-- <div id="admin-search-form">
  <%= search_form_for [:admin, @q], class: "form-horizontal" do |f| %>

    <div class="form-group search-container">
      <%= f.label :caption_cont, "Caption: " %>
      <%= f.search_field :caption_cont, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Search", class: "btn btn-secondary" %>
     </div>
  <% end %>
  <br><br>
</div> -->

<table class='table table-responsive'>
  <thead>
    <tr>
      <th>move</th>
      <th>Image</th>
      <th>Caption</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody data-role="activerecord_sortable">
    <% @photos.each do |photo| %>  
        <%= render :partial => 'photo', locals: {photo: photo} %>
    <% end %>
  </tbody>
</table>

<br>

<div class='btn-group'>
  <%= link_to 'Add Photos', add_admin_photos_path, class: "btn btn-primary" %>
  <%= link_to "Reorder Photos", reorder_admin_photos_path, class: "btn btn-primary" %>  
</div>

<div class="pagination">
  <%= paginate @photos %>
</div>