<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<div class='row'>
  <div class='col-xs-12'>
    <%= image_tag @photo.image.url(:main) %>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<%= link_to "Create Product", create_from_photo_admin_products_path(@photo), method: :post %>
<%= link_to 'Edit', edit_admin_photo_path(@photo) %> |
<%= link_to 'photos', admin_photos_path %>
    
  </div>
</div>


