<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photo.image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @photo.slug %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @photo.deleted_at %>
</p>

<%= link_to 'Edit', edit_admin_photo_path(@photo) %> |
<%= link_to 'photos', admin_photos_path %>
