<% breadcrumb :admin_photo, @photo %>
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<div class='row'>
  <div class='col-xs-12'>
    <%= image_tag @photo.image.url(:main) %>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<div class='btn-group'>
  <%= link_to "Create Product", create_from_photo_admin_products_path(@photo), method: :post, class: "btn btn-secondary" %>
  <%= link_to 'Edit', edit_admin_photo_path(@photo), class: "btn btn-secondary" %> 
  <%= link_to 'All Photos', admin_photos_path, class: "btn btn-secondary" %>  
</div>

    
  </div>
</div>


