<% if @user_template %>
  <div class='template-container'><%= @user_template.html_safe %></div>
<% else %>
  <%= content_tag :h2, @title.value.html_safe %>
  <%= content_tag :p, @text.value.html_safe %>
<% end %>




 
<%= form_tag send_message_path, data: {parsley_validate: true}, class: "contact-form" do |f| %>
  <div class='form-group'>
    <%= label_tag :email, "Email Address" %>
    <%= email_field_tag :email, nil, {class: "form-control", data: {parsley_required: true, parsley_type: "email", parsley_required_message: "Please enter an Email Address"}} %>  
  </div>

  <div class='form-group'>
    <%= label_tag :name, "Name" %>
    <%= text_field_tag :name, nil, {class: "form-control", data: {parsley_required: true, parsley_required_message: "Please enter a Name"}} %>    
  </div>

  <div class='form-group'>
    <%= label_tag :message, "Message" %>
    <%= text_area_tag :message, nil, {label: "Message", class: "form-control", data: {parsley_required: true, parsley_required_message: "Please enter your Message"}} %>  
  </div>
  
  <%= submit_tag "Contact", class: "btn" %>
<% end %> 