<h2><%= @tag.name.titleize %></h2>

<div class='grid one-up changeable-grid'>
   <% @taggings.each do |tagging| %>
    <div class='grid-item'>
      <div class='grid-item-container'>

				<% if tagging.taggable_type == "Photo" %>
          <%= link_to retina_image_tag(tagging.taggable.image, :main, {class: "grid-item-main-image"}), tagging.taggable.image.url %>
        <% else %>
          <%= render partial: 'shared/embed_video', locals: {address: tagging.taggable.embed_address} %>
        <% end %>

        <%= content_tag(:div, tagging.taggable.caption.html_safe, class: "caption") if tagging.taggable.caption %>
        <%= content_tag(:div, link_to("Buy Print", tagging.taggable.photoable), class: "photo-buy-product-link") if tagging.taggable.purchasable? %>
      </div>
    </div>
  <% end %>
</div>

<nav class='tag-nav'>
  <%= link_to "&laquo; #{@tag.previous.name.titleize}".html_safe, tag_path(@tag.previous), class: "previous-tag-link" if @tag.previous %>
  <%= link_to "Back To Top &uarr;".html_safe, '', class: 'back-to-top' %>
  <%= link_to "#{@tag.next.name.titleize} &raquo;".html_safe, tag_path(@tag.next), class: "next-tag-link" if @tag.next %>
</nav>
