<h2><%= @tag.name.titleize %></h2>

<div class='grid one-up'>
  <% @assets.each do |asset| %>
    <div class='grid-item'>
      <div class='grid-item-container'>
        <!-- TODO: asset shouldn't care whether or not it is a video -->
        <% if asset.try(:image) %>
          <%= image_tag asset.image, class: "grid-item-main-image" %>
        <% else %>
          <%= render partial: 'shared/embed_video', locals: {address: asset.embed_address} %>
        <% end %>

        <%= content_tag(:div, asset.caption.html_safe, class: "caption") if asset.caption %>
        <%= content_tag(:div, link_to("Buy Print", asset.product), class: "photo-buy-product-link") if asset.try(:product) %>
      </div>
    </div>
  <% end %>
</div>

<nav class='tag-nav'>
  <%= link_to "&laquo; #{@tag.previous.name.titleize}".html_safe, tag_path(@tag.previous), class: "previous-tag-link" if @tag.previous %>
  <%= link_to "Back To Top &uarr;".html_safe, '', class: 'back-to-top' %>
  <%= link_to "#{@tag.next.name.titleize} &raquo;".html_safe, tag_path(@tag.next), class: "next-tag-link" if @tag.next %>
</nav>