<% breadcrumb :admin_tag, @tag %>
<%= form_for(@tag, url: admin_tags_path) do |f| %>


  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>    
  </div>
  
  <div class='form-group'>
    <%= f.label :temporary_slug, "Slug" %>
    <%= f.text_field :temporary_slug, value: @tag.slug, class: "form-control" %>    
  </div>

  
  <div class="actions">
    <%= f.submit f.send(:submit_default_value), class: "btn btn-primary" %>
  </div>
<% end %>
