<h1>Editing Tag</h1>

<% breadcrumb :admin_tag, @tag %>
<%= form_for(@tag, url: admin_tag_path(@tag)) do |f| %>


  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>    
  </div>

  
  <div class="actions">
    <%= f.submit f.send(:submit_default_value), class: "btn btn-primary" %>
  </div>
<% end %>


<div class='btn-group btn-group-sm'>
  <%= link_to 'Show', admin_tag_path(@tag), class: 'btn btn-secondary' %>
  <%= link_to 'Back', admin_tags_path, class: 'btn btn-secondary' %>  
</div>

