<% breadcrumb :admin_tags %>
<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table class='table sortable table-responsive'>
  <thead>

    <tr>
      <td>move</td>
      <td>Tag Name</td>
      <td>Number of Photos + Videos</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <%= content_tag :tr, class: 'row-item', data: {item_id: tag.id, post_path: url_for([:update_row_order, :admin, :tags])} do %>
        <td class='handle'>&equiv;</td>
        <td><%= tag.name %></td>
        <td><%= tag.taggings.size %></td>
        <td>
          <div class='btn-group btn-group-sm'>
            <%= link_to 'Edit', edit_admin_tag_path(tag), class: "btn btn-secondary" %>

            <%= link_to 'Destroy', admin_tag_path(tag), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?' } %>
          </div>
          </td>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Tag', new_admin_tag_path %>
