<p id="notice"><%= notice %></p>

<h1>Admin Tags</h1>

<table class='table sortable'>
  <thead>

    <tr>
      <td>Tag Name</td>
      <td>Number of Photos + Videos</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
    
      <%= content_tag :tr, class: "item", data: {item_id: tag.id, post_path: url_for([:update_row_order, :admin, :tags])} do %>
        <td><%= tag.name %></td>
        <td><%= tag.taggings.size %></td>
        <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', admin_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Tag', new_admin_tag_path %>
