<div class="wizard-step addresses active">
  <%= form_for order, data: {parsley_validate: "true", remote: true, parsley_excluded: "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"} do |f| %>
  <div class='row'>

    <div class='field col-xs-12'>
          <h3>Your Info</h3>
      <%= f.label :contact_email, "Contact Email Address:" %>
      <%= f.email_field :contact_email, {class: "checkout-control", data: {parsley_required: 'true', parsley_error_message: "Please Enter an Email"}} %>
    </div>
  </div>

  <div class='row'>

    <div class='addresses col-xs-12'>
     
      <%= f.fields_for :addresses, [billing_address, shipping_address] do |address| %>
    
        <div class="<%= address.object.kind %>-address">
          <h3><%= address.object.kind.capitalize %> Address</h2>
          <%= address.hidden_field :kind %>
          <%= render partial: 'address_fields', locals: {address: address} %>
          <%= hidden_field_tag :current_step, 'process_address' %>
          
          <% if address.object.kind == "billing" %>


              <%= link_to "Proceed", '', class: 'ship-to-same checkout-btn button' %>

         

              <%= link_to "Enter Different Shipping Address", '', class: 'checkout-btn button enter-shipping-address' %>

            
            <%= f.hidden_field :shipping_same %>

          <% elsif address.object.kind == "shipping" %>

            <%= f.button "Proceed to Payment", class: "button checkout-btn el-submit", :disable_with => 'Submiting...' %>  
          <% end %>
        </div>
      <% end %>
    </div>
</div>
  <% end %>
</div>
