<div class='wizard-step active'>
  <%= form_for @order do |f| %>
  <%= f.fields_for :addresses, @order.addresses.billing_first do |address| %>
    <%= address.hidden_field :kind %>
    <%= render partial: 'address_fields', locals: {address: address} %>
    <%= hidden_field_tag :current_step, 'process_address' %>
  <% end %>
<% end %>

</div>