<%= content_for :extra_js do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type='text/javascript'>
    Stripe.setPublishableKey("<%= ENV['stripe_test_publishable'] %>");
  </script>
<% end %>

<%# order summary %>
<%= form_for @order, html: {id: "submit-payment"} do |f| %>
  <h2>Choose Payment Method</h2>
  <div class='form-group'>
    <%= f.radio_button :payment_method, "paypal" %> <%= f.label :payment_method, "Paypal" %>    
  </div>
  
  <div class='form-group'>
    <%= f.radio_button :payment_method, "stripe" %> <%= f.label :payment_method, "Card Via Stripe" %>    
  </div>
  
  <div class="stripe-fields">
    <div class="payment-errors"></div>
    
    <div class='field'>
      <%= f.text_field :credit_card_number, title: "Credit Card Number", :data => {stripe: "number"}, class: "field_1", placeholder: "Card Number" %>
    </div>

    <div class="field">
      <%= select_month Time.zone.now, {add_month_numbers: true}, {name: nil, id: "card_month", title: "Credit Card Expiration Month", class: "field_2"} %>
    </div>
    <div class='field'>
      <%= select_year Time.zone.now, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", title: "Credit Card Expiration Year", class: "field_2"} %>
    </div>
    hide these fields:
    <input type="number" size="2" data-stripe="exp-month" id="exp-month" value="<%= Date.today.month %>"/>
    <input type="number" size="4" data-stripe="exp-year" id="exp-year" value="<%= Date.today.year %>"/>
    <div class='field'>
      <%= f.label :credit_card_security_code %>
      <%= f.text_field :credit_card_security_code, name: nil, title: "Security Code", data: {stripe: "cvc"}, class: "field_1", placeholder: "Security Code" %>
    </div>
    <%= hidden_field_tag :current_step, "process_payment" %>
    <%= f.button "Pay With Card", data: {disable_with: "Processing..."} %>

    
  </div>


<% end %>