<h1>Checkout</h1>
<div class='order-summary'>
  <% @order.line_items.each do |item| %>
    <%= render partial: 'order_item', locals: {item_view: ItemView.new(item)} %>
  <% end %>
</div>

<p>You can check out using PayPal or Stripe :)</p>

<%= form_for @order do |f| %>


<div class='addresses'>

  <%= f.fields_for :addresses do |address| %>
    <h2><%= address.object.kind.capitalize %> Address</h2>
    <%= address.hidden_field :kind %>
    <%= render partial: 'address_fields', locals: {address: address} %>
    <%= hidden_field_tag :current_step, 'process_address' %>
  <% end %>

  <%= f.label :shipping_same, "Shipping Address Same As Billing?" %>
  <%= f.check_box :shipping_same %>
</div>

<%= f.submit "Submit", :disable_with => 'Submiting...' %>  
<% end %>

