<%= content_for :extra_js do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type='text/javascript'>
    Stripe.setPublishableKey("<%= ENV['stripe_test_publishable'] %>");
  </script>
<% end %>

<%= content_for :page_meta do %>

  <% ['googlebot', 'slurp', 'msnbot', 'teoma', 'robots'].each do |bot| %>
    <meta name="<%= bot %>" content="noindex, nofollow">
    <meta name="<%= bot %>" content="noarchive">
    <meta name="<%= bot %>" content="noodp">
  <% end %>
  
  <meta name="googlebot" content="nosnippet">
  <meta name="slurp" content="noydir">
<% end %>


<h1 class='checkout'>Checkout</h1>

<div class='order-summary'>
  <%= content_tag :h3, "Order Summary" %>
  <% @order.line_items.each do |item| %>
  <div class='checkout-order-item'>
    <%= render partial: 'order_item', locals: {item_view: ItemView.new(item)} %>
  </div>
    <hr/>
  <% end %>
  <%= content_tag :h3, "Order Totals" %>
  <% CheckoutView.new(@order).tap do |view| %>
    <%= view.checkout_order_subtotal %>
    <%= view.checkout_estimated_shipping %>
    <%= view.checkout_grand_total %>
  <% end %>
</div>

<div class='payment-security'>
  <p>Pay Using <%= link_to "PayPal", "https://www.paypal.com", target: "_new" %> or Credit/Debit Card</p>
  <p><%= link_to "Stripe", 'https://www.stripe.com/about', target: "_new" %> handles our card processing safely and securely.</p>  
</div>

<hr/>
<div class="wizard-step active">
  <%= form_for @order, data: {parsley_validate: "true", remote: true, parsley_excluded: "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden"} do |f| %>
  <div class='row'>

    <div class='field col-sm-6 col-xs-12'>
          <h3>Your Info</h3>
      <%= f.label :contact_email, "Contact Email Address:" %>
      <%= f.email_field :contact_email, {class: "checkout-control", data: {parsley_required: 'true', parsley_error_message: "Please Enter an Email"}} %>
    </div>
  </div>

  <div class='row'>

    <div class='addresses col-sm-6 col-xs-12'>
     
      <%= f.fields_for :addresses, [@billing_address, @shipping_address] do |address| %>
    
        <div class="<%= address.object.kind %>-address">
          <h3><%= address.object.kind.capitalize %> Address</h2>
          <%= address.hidden_field :kind %>
          <%= render partial: 'address_fields', locals: {address: address} %>
          <%= hidden_field_tag :current_step, 'process_address' %>
          
          <% if address.object.kind == "billing" %>

            <div class='el-btn checkout-btn'>
              <%= link_to "Proceed", '', class: 'ship-to-same' %>
            </div>
          
            <div class='el-btn checkout-btn'>
              <%= link_to "Enter Different Shipping Address", '', class: 'enter-shipping-address' %>
            </div>
            
            <%= f.hidden_field :shipping_same %>

          <% elsif address.object.kind == "shipping" %>
          <div class='el-btn checkout-btn'>
            <%= f.submit "Proceed", class: "el-submit", :disable_with => 'Submiting...' %>  
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
  <% end %>
</div>

<div class='sticky-help'>
  <%= link_to "Questions? Concerns? Email me!", 'mailto:prints@elliotpolinsky.com' %>
</div>