<%= content_for :extra_js do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type='text/javascript'>
    Stripe.setPublishableKey("<%= ENV['stripe_publishable_key'] %>");
  </script>
<% end %>

<%= content_for :page_meta do %>

  <% ['googlebot', 'slurp', 'msnbot', 'teoma', 'robots'].each do |bot| %>
    <meta name="<%= bot %>" content="noindex, nofollow">
    <meta name="<%= bot %>" content="noarchive">
    <meta name="<%= bot %>" content="noodp">
  <% end %>
  
  <meta name="googlebot" content="nosnippet">
  <meta name="slurp" content="noydir">
<% end %>


<h1 class='checkout'>Checkout</h1>

<div class='order-form-right'>
	<div class='order-summary'>
	  <%= content_tag :h3, "Order Summary" %>
	
	  <% @order.line_items.each do |item| %>
		  <div class='checkout-order-item'>
		    <%= render partial: 'order_item', locals: {item_view: ItemView.new(item)} %>
		  </div>
		  <hr/>
	  <% end %>
	
	  <%= content_tag :h3, "Order Totals" %>
	
	  <% CheckoutView.new(@order).tap do |view| %>
	    <%= view.checkout_order_subtotal %>
	    <%= view.checkout_estimated_shipping %>
	    <%= view.checkout_grand_total %>
	  <% end %>
	</div>

	<div class='payment-security'>
	  <p>Pay Using <%= link_to "PayPal", "https://www.paypal.com", target: "_new" %> or Credit/Debit Card</p>
	  <p><%= link_to "Stripe", 'https://www.stripe.com/about', target: "_new" %> handles our card processing safely and securely.</p>  
	</div>
</div>
	<%= render partial: 'enter_address', locals: {order: @order, billing_address: @billing_address, shipping_address: @shipping_address} %>

	<div class='wizard-step inactive enter-payment'>

	<%= form_for @order, html: {id: "submit-payment", data: {parsley_validate: "true", remote: true}} do |f| %>
	  <h3 class='choose-payment'>Choose Payment Method</h3>
	  <div class='payment-chooser'>
	    <div class='form-group'>
	      <%= f.radio_button :payment_method, "paypal" %> <%= f.label :payment_method, "PayPal", for: "order_payment_method_paypal" %>    
	    </div>
  
	    <div class='form-group'>
	      <%= f.radio_button :payment_method, "stripe" %> <%= f.label :payment_method, "Card Via Stripe", for: 'order_payment_method_stripe' %>    
	    </div>
      
	  </div>

  
	  <div class="stripe-fields">
	    <div class="payment-errors"></div>
    
	    <div class='form-group'>
	      <%= f.label :credit_card_number, "Card Number: " %>
	      <%= f.text_field :credit_card_number, title: "Credit Card Number", :data => {stripe: "number"}, class: "field_1" %>
	    </div>

	    <div class="form-group">
	      <%= label_tag :card_month, "Expiration Month: " %>
	      <%= select_month Time.zone.now, {add_month_numbers: true}, {name: nil, id: "card_month", title: "Credit Card Expiration Month", class: "field_2"} %>
	    </div>
	    <div class='form-group'>
	      <%= label_tag :card_year, "Expiration Year: " %>
	      <%= select_year Time.zone.now, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", title: "Credit Card Expiration Year", class: "field_2"} %>
	    </div>

	   
	    <%= f.button "Pay With Card", class: "btn checkout-btn", data: {disable_with: "Processing..."}, disabled: true %>
	  </div>
	  <%= hidden_field_tag :current_step, "process_payment" %>
  


	<% end %>
	</div>
<div class='sticky-help'>
  <%= link_to "Questions? Concerns? Email me!", 'mailto:prints@elliotpolinsky.com' %>
</div>