<%= content_for :page_meta do %>
  <% ['googlebot', 'slurp', 'msnbot', 'teoma', 'robots'].each do |bot| %>
    <meta name="<%= bot %>" content="noindex, nofollow">
    <meta name="<%= bot %>" content="noarchive">
    <meta name="<%= bot %>" content="noodp">
  <% end %>
  
  <meta name="googlebot" content="nosnippet">
  <meta name="slurp" content="noydir">
<% end %>



<div class='receipt page-header'>
	<h1>Your payment has been accepted, thanks!</h1>
  <%= link_to "Link To This Page", "/store/orders/#{@order.uid}/receipt", class: 'receipt-link'  %>
	
  <h2>Order Details</h2>


</div>

<div class='col-xs-12 col-sm-6 left-order-side'>
  <div class="main-order-information receipt">
		<h3>General Info</h3>
		<%= quick_row "Order ID: ", @order.short_or_uid %>		
		<%= quick_row "Purchased On:", l(@order.purchased_at, format: :amp) if @order.purchased_at %>
		<%= quick_row "Order Last Updated:", l(@order.updated_at, format: :amp) %>
		<%= quick_row "Payment Method:", @order.pretty_payment_method %>
    <hr/>
    <h3>Totals</h3>
		<%= quick_row "Subtotal:", number_to_currency(@order.items_subtotal_cents/100.00) %>
		<%= quick_row "Shipping:", number_to_currency(@order.shipping_total) %>
		<%= quick_row "Grand Total:", number_to_currency(@order.grand_total_cents/100.00) %>
  </div>

	<hr/>  
  <div class="order-contents receipt">
		<h3>Order Items (<%= @order.line_items.size %>)</h3>
 		<% @order.line_items.each do |item| %>
	    <div class="order-item">
        <% if item.product? || item.variant? %>
          <% if item.product? %>
    				<%= link_to product_path(item.product) do %>
    					<%= image_tag item.product.primary_image(:thumb) %>
    				<% end %>
          <% elsif item.variant? %>
    				<%= link_to product_path(item.variant.product) do %>
    					<%= image_tag item.variant.primary_image(:thumb) %>
    				<% end %>
          <% end %>
          
          
  				<% if item.variant? %>
  					<%= quick_row "Product Name", link_to(item.variant.name_with_product, product_path(item.product)) %>	
  				<% else %>
  					<%= quick_row "Product Name", link_to(item.name, product_path(item.product)) %>
  				<% end %>
        <% end %>
				<%= quick_row "Quantity", item.quantity %>
				<%= quick_row "Price", number_to_currency(item.subtotal) %>
				<%= quick_row "Shipping", number_to_currency(item.shipping_total_cents/100.00) %>
				<%= quick_row "Grand Total", number_to_currency(item.total) %>
	    </div>

     
   <% end %>
   </div>
</div>


<div class='col-xs-12 col-sm-5 col-sm-offset-1 right-order-side'>

	<div class='buyer-information receipt'>
			<h3>Your Info: </h3>
			<%= quick_row "Email:", @order.contact_email %>
      <%= display_admin_address(@order.billing_address, "Billing Address").html_safe if @order.billing_address %>  

			<%= display_admin_address(@order.shipping_address, "Shipping Address").html_safe if @order.shipping_address %>
	</div>
</div>


<div class='order-concerns'>
  <%= link_to "For any order concerns, send a message to orders@elliotpolinsky.com", 'mailto:orders@elliotpolinsky.com' %>
</div>