<%= form_for [:admin, @page_template] do |f| %>
<div class='form-group'>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<%= f.label :body, "Template" %>
<div id='ace-editor' class='live_code_editor'>
  <%= @page_template.body %>
</div>
<%= f.text_area :body, id: "ace-populate" %>
  

  <%= f.submit %>
<% end %>