<h1>Page Templates</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Template Name</th>
      <th>For Page</th>
      <th>Active?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @page_templates.each do |page_template| %>
      <tr>
        <td><%= page_template.title %></td>
        <td><%= page_template.page %></td>
        <td><%= page_template.active %></td>
        <td><%= link_to "Edit", [:live, :admin, page_template]  %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to "new", [:new, :admin, :page_template], class: "btn btn-primary" %>