<% breadcrumb :admin_theme, @theme %>
<%= form_for [:admin, @theme] do |f| %>
  <div class='control-group'>
    <%= f.label :css, "Enter some css:" %>
    <div id='ace-editor' data-mode='css'>
      <%= @theme.css %>
    </div>
    <%= f.text_area :css, id: "ace-populate" %>
  </div>
  
  <%= f.button "Submit", class: "btn btn-secondary" %>
<% end %>