<%= mail_module do %>
	<h1>Elliot, You've Received a New Order from Elliotpolinsky.com</h1>
<% end %>

<%= mail_module(table_align: 'left') do %>
	<p>Order via: <%= @order.payment_method %></p>
  <% @order.line_items.each do |item| %>
    <div class="checkout-order-item">
      <%= image_tag item.product.primary_image(:thumb), class: "item-image" if item.product.primary_image %>
      <%= content_tag :div, "#{item.product_or_variant_name} x #{item.quantity}", class: "item-name" %>
      <%= content_tag :div, "Total: #{item.subtotal.format}", class: "slice-value" %>
    </div>
  <% end %>
      
      
	  <div class='checkout-order-subtotal discounts'>     
	    <%= content_tag :p, "Subtotal: <span>#{@order.subtotal.format}</span>".html_safe %>
	  </div>


	  <div class='checkout-order-subtotal discounts'>
	    <%= content_tag :p, "Total Shipping: <span>#{@order.shipping_total.format}</span>".html_safe %>    
	  </div>

	  <div class="checkout-order-subtotal">
	    <%= content_tag :p, "Grand Total: <span>#{@order.grand_total.format}</span>".html_safe %>
	  </div>
  
	  <br/>
  
	  <div class="final-addresses">
			
	    <div class="final-address">
	      <%= content_tag :h4, "Shipping: " %>
	      <%= display_address(@order.shipping_address).html_safe %>
	    </div>

	    <div class="final-address">
	    <%= content_tag :h4, "Billing" %>
	    <%= display_address(@order.billing_address).html_safe %>    
	    </div>
	  </div>
  
	  <%= link_to 'View Order', admin_order_url(@order), class: 'receipt-link' %>
	<p>- The Site</p>
	
<% end %>

