<%= form_for([:admin, product]) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>


  <div class="field form-group">
    <%= f.label :price, (f.object.variants.any? ? "Variants Control Price &#8595;".html_safe : "Price") %>
    <%= f.number_field :price, {class: "form-control", disabled: (f.object.variants.any?)} %>
  </div>

  <div class="field form-group">
    <%= f.label :published_at %>
    <%= f.text_field :published_at, class: "form-control elp-date-field", data: {enabletime: true} %>
  </div>

  <div class="field form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :shipping_base %>
    <%= f.number_field :shipping_base, class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :additional_shipping_per_item %>
    <%= f.number_field :additional_shipping_per_item, class: "form-control" %>
  </div>


  <hr />
  <h2>Sizes</h2>
  <div class='field form-group'>
    <%= f.label :sizes_list, 'Enter OR SELECT sizes to create variants from.' %>
    <%= f.text_field :sizes_list, class: "form-control" %>
  </div>
  
  <div class='field form-group variants'>
    <%= f.fields_for :variants do |v| %>
      
      <div class='field form-group'>
        <%= v.object.name %>
      </div>
      
      <div class='field form-group'>
        <%= v.label :price %>
        <%= v.text_field :price, class: "form-control" %>
      </div>
      
      <div class='field form-group'>
        <%= v.label :shipping_base %>
        <%= v.text_field :shipping_base, class: "form-control" %>
      </div>
            
    <% end %>
  </div>


  <div class="actions">
    <%= f.button "Save", class: 'btn' %>
  </div>
<% end %>
