<% breadcrumb :admin_product, @product %>
<%= form_for([:admin, product], data: {parsley_validate: true}) do |f| %>


  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {data: {parsley_required: 'true', parsley_error_message: "Er, we need a name here"}, class: "form-control"} %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <%= render :partial => 'shared_variant_product_fields', locals: {builder: f} %>


  <div class="field form-group">
    <%= f.label :published_at %>
    <%= f.text_field :published_at, class: "form-control elp-date-field", data: {enabletime: true} %>
  </div>



  <hr />
  <div class='variant-manager'>
  <h2>Size Manager</h2>
  <p class='help-text'>Each size creates a variant with the ability to have its own prices/shipping and quantity.</p>
  <div class='field form-group'>
    <%= f.label :sizes_list, 'Enter OR SELECT sizes to create variants from.' %>
    <%= f.text_field :sizes_list, class: "form-control" %>
  </div>
  
  
  <h4>Current Variants</h4>
  <div class='field form-group variants row'>
    <%= f.fields_for :variants do |v| %>
    <div class='col-xs-6 variant-manager-variant'>
      <div class='field form-group'>
        <%= content_tag :h5, v.object.name %>
      </div>
      
        <%= render :partial => 'shared_variant_product_fields', locals: {builder: v} %>
      
      <div class='actions'>
        <%= link_to "Delete Variant", [:admin, @product, v.object], method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

  <div class="actions">
    <%= f.button "Save", class: 'btn' %>
  </div>
<% end %>
