<% breadcrumb :admin_products %>
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class='table sortable table-responsive'>
  <thead>
    <tr>
      <th>move</th>
      <th>image</th>
      <th>Name</th>
      <th>Price</th>

      <th>Published?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <%= content_tag :tr, class: "row-item", data: {item_id: product.id, post_path: url_for([:update_row_order, :admin, :products])} do %>
        <td class='handle'>&equiv;</td>
        <td><%= product.bp_view.image(:thumb) %></td>
        <td><%= product.bp_view.name_and_link %></td>
        <td><%= product.bp_view.price %></td>

        <td><%= product.bp_view.published? %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Show', [:admin, product], class: "btn btn-secondary btn-xs" %>
            <%= link_to 'Edit', edit_admin_product_path(product), class: "btn btn-secondary btn-xs" %>
            <%= link_to 'Destroy', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-xs" %>  
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_admin_product_path, class: "btn btn-primary" %>
