<header class='front-header'>
  <h1>Elliot Polinsky Photography</h1>
  <nav class='front-navigation'>
    <%= active_link_to "Home", root_path %>
    <%= active_link_to "Photography" %>
    <%= active_link_to "Video" %>
    <%= active_link_to "Store", store_path %>
    <%= active_link_to "Cart", cart_path %>
    <%= active_link_to "About" %>
  </nav>
</header>