<header class='front-header'>
  <h1><%= link_to "Elliot Polinsky", root_path %></h1>
  
  
  <% if ActsAsTaggableOn::Tag.all.any? %>
    <nav class='front-navigation category-navigation'>
      <% Tag.by_position.each do |tag| %>
        <%= active_link_to tag.name.titleize, tag_path(tag)%>
      <% end %>
    </nav>
  <% end %>
  
  <nav class='front-navigation main-navigation'>
    <%= active_link_to "Purchase Prints", store_path %>
    <%= active_link_to "About", about_path %>
    <%= active_link_to "Contact", contact_path %>
  </nav>

</header>