
<header class='front-header'>

  <h1><%= link_to "Elliot Polinsky", root_path %></h1>
  <nav class='front-navigation'>
    <% ActsAsTaggableOn::Tag.all.each do |tag| %>
      <%= active_link_to tag.name.titleize, tag_path(tag.slug) %>
    <% end %>
    <%= active_link_to "Purchase Prints", store_path %>
    <%= active_link_to "About", about_path %>
    <%= active_link_to "Contact", contact_path %>
  </nav>
</header>