<div id="display-cart">

  <header class="cart-header">
    <h2>Cart</h2>
    <div id="total-slices">
      <%= render :partial => 'cart_totals', locals: {cart_view: CartView.new(@cart)} %>
    </div>
    <%= link_to "Empty Contents", empty_cart_path, remote: true, data: {confirm: "Are you sure?", remote: true} %>
  </header>

  <div class='cart-line-items'>
    <% if @cart.line_items.any? %>
      <h2>Cart Contents</h2>
    <% else %>
      <h2>Nothing Here</h2>
    <% end %>
    <% @cart.line_items.each do |item|%>
      <div class="item-slice slice" id="cart_item_<%= item.id %>">
        <% actual_item = item.product_or_variant ? item : StaleLineItem.new(parent_item: item) %>
        <%= render :partial => 'cart_item', locals: {cart_item: actual_item, cart: @cart, item_view: ItemView.new(actual_item)} %>
      </div>
    <% end %>
  </div>
  
  <div class="bag-checkout-slice slice">
    <%= link_to "Checkout", checkout_path %>
  </div>

  <% if @cart.line_items.none? %>
  No Items
  <%= link_to "Keep Shopping", store_path %>
  <% end %>
</div>