<div id="display-cart">
  <%= link_to (image_tag('cart.png')), cart_path, class: 'cart-trigger' %>

  <header class="cart-header">
    <div class='cart-header-top'>
      <div class='close-cart'>&raquo;</div>
      <h2>your cart</h2>
    </div>
  </header>

  <div class='cart-line-items'>
    <% if @cart.line_items.none? %>
      <div class='nothing-here-container'>
        <h2>Nothing Here</h2>
        <%= link_to "Keep Shopping", store_path %>
      </div>
    <% end %>
    <% @cart.line_items.each do |item|%>
      <div class="item-slice slice" id="cart_item_<%= item.id %>">
        <% actual_item = item.product_or_variant ? item : StaleLineItem.new(parent_item: item) %>
        <%= render :partial => 'cart_item', locals: {cart_item: actual_item, cart: @cart, item_view: ItemView.new(actual_item)} %>
      </div>
    <% end %>
  </div>
  <footer class='cart-footer'>
  <div id="total-slices">
    <%= render :partial => 'cart_totals', locals: {cart_view: CartView.new(@cart)} %>
  </div>
  <div class="bag-checkout-slice slice">
    <%= link_to "Checkout", checkout_path, class: ("#{@cart.line_items.none? ? 'checkout-link disabled' : 'checkout-link'}") %>
  </div>
  <%# link_to "Empty Contents", empty_cart_path,  {class: 'cart-empty-contents', data: {confirm: "Are you sure?", remote: true}} if @cart.line_items.any? %>  
  </footer>
  
</div>