<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price cents</th>
      <th>Price cents currency</th>
      <th>Published at</th>
      <th>Quantity</th>
      <th>Weight in oz</th>
      <th>Row order</th>
      <th>Photo</th>
      <th>Shipping cents</th>
      <th>Shipping currency</th>
      <th>Slug</th>
      <th>State</th>
      <th>Deleted at</th>
      <th>Uid</th>
      <th>International shipping cents</th>
      <th>International shipping currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price_cents %></td>
        <td><%= product.price_cents_currency %></td>
        <td><%= product.published_at %></td>
        <td><%= product.quantity %></td>
        <td><%= product.weight_in_oz %></td>
        <td><%= product.row_order %></td>
        <td><%= product.photo %></td>
        <td><%= product.shipping_cents %></td>
        <td><%= product.shipping_currency %></td>
        <td><%= product.slug %></td>
        <td><%= product.state %></td>
        <td><%= product.deleted_at %></td>
        <td><%= product.uid %></td>
        <td><%= product.international_shipping_cents %></td>
        <td><%= product.international_shipping_currency %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
