<%= form_for([:admin, video]) do |f| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class='form-group'>
    <%= f.label :tag_list, "Tags: " %>
    <select name="video[tag_list][]" class="taggable" multiple="true">
      <% Tag.all.each do |tag| %>
        <%= content_tag :option, value: tag.name, selected: tag_selected?(video, tag) do %>
          <%= tag.name %>
        <% end %>
      <% end %>
    </select>
  </fieldset>
  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_field :caption, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control"  %>
  </div>


  <div class="form-group">
    <%= f.button "Add", class: "btn btn-primary"%>
  </div>
<% end %>
