<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table class='table sortable'>
  <thead>
    <tr>
      <th>Caption</th>
      <th>Address</th>
      <th>Slug</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <%= content_tag :tr, class: "item", data: {item_id: video.id, post_path: url_for([:update_row_order, :admin, :videos])} do %>
        <td><%= video.caption %></td>
        <td><%= video.address %></td>
        <td><%= video.slug %></td>
        <td><%= video.deleted_at %></td>
        <td><%= link_to 'Show', [:admin, video] %></td>
        <td><%= link_to 'Edit', edit_admin_video_path(video) %></td>
        <td><%= link_to 'Destroy', [:admin, video], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_admin_video_path %>
