<% breadcrumb :admin_video, @video %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @video.caption %>
</p>

<p>
  <strong>Address:</strong>
  <%= @video.address %>
</p>

<div class="col-xs-12 video">
   <%= render :partial => 'shared/embed_video', locals: {address: @video.embed_address} %>

</div>

<div class='btn-group'>
  <%= link_to 'Edit', edit_admin_video_path(@video), class: "btn btn-primary" %>
  <%= link_to 'All Videos', admin_videos_path, class: "btn btn-primary" %>  
</div>

