<h1>Welcome to The Spine Tingling Show</h1>

<div class='products grid'>
<% @products.each do |product| %>
  <div class='product grid-item'>
    <div class='grid-item-container'>
      <%= image_tag product.primary_image(:medium), class: 'grid-item-main-image' %> 
      <div class='grid-item-contents'>
        <%= product.bp_view(cart: @cart).name_and_link %>
        <%= product.bp_view(cart: @cart).price %>
                
        <div class='listing-quantity-container'> 
          <%= product.bp_view(cart: @cart).display_quantity %>
        </div>
        
        <%= render :partial => 'product_variants_options', locals: {product: product} if product.variants.any? %>
        
        <div class='add-to-cart-container'>
          <%= render :partial => 'add_to_cart', locals: {product: product, cart: @cart} %>        
        </div>
        
      </div>

    </div>
  </div>
<% end %>  
</div>
