<%= content_for :page_title do %>	
	Store: Purchase Photography Prints
<% end %>

<% if @liquid_template %>
  <%= @liquid_template.html_safe %>
<% else %>
<h2>Prints Available For Purchase</h2>

<div class='products grid'>
<% @products.each do |product| %>
  <div class='product grid-item'>
    <div class='grid-item-container'>
        <%= product.bp_view(cart: @cart).image_and_link %>
      <div class='grid-item-contents'>
        <%= product.bp_view(cart: @cart).name_and_link %>
        <%= product.bp_view(cart: @cart).price %>
      </div>
    </div>
  </div>
<% end %>  
</div>
<% end %>




