<!DOCTYPE html>
<html>
  <head>
    <title>Admin: Elliot Polinsky</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= favicon_link_tag 'favicon.png' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body class="<%= body_class %>">
    <%= render :partial => 'alerts_and_notices' %>
    <nav class="navbar navbar-light bg-faded">
      <%= link_to "ESP", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        
        <%= active_link_to "Home", main_app.admin_root_path, active: :exact, class: "nav-item nav-link" %>
        <%= active_link_to "Photos", main_app.admin_photos_path, class: "nav-item nav-link" %>
        <%= active_link_to "Videos", main_app.admin_videos_path, class: "nav-item nav-link" %>
        <%= active_link_to "Tags", main_app.admin_tags_path, class: "nav-item nav-link" %>
        <%= active_link_to "Products", main_app.admin_products_path, class: "nav-item nav-link" %>
        <%= active_link_to "Orders", main_app.admin_orders_path, class: "nav-item nav-link" %>
        <% BpCustomFields::AbstractResource.where("name = ? OR name = ?", 'about', 'contact').each do |page| %>
          <%= active_link_to page.name.titleize, bp_custom_fields.edit_abstract_resource_path(page), class: "nav-item nav-link" %>
        <% end %>
        <div class='pull-right'>
          <li class="nav-item dropdown dropdown-menu-right">
             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
             <div class="dropdown-menu dropdown-correct">
               <%= active_link_to "Custom Fields", bp_custom_fields.root_path, active: :exact, class: "dropdown-item" %>
               <%= active_link_to "Abstract Pages/Resources", bp_custom_fields.abstract_resources_path, active: :exact, class: "dropdown-item" %>
               <%= active_link_to "Templates", main_app.admin_page_templates_path, class: "dropdown-item" %>
               <%= active_link_to "Themes", main_app.admin_themes_path, class: "dropdown-item" %>
             </div>
           </li>
          <%= link_to "Sign Out", main_app.destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        </div>

        
      </ul>
    </nav>
      <div class='crumbs'>
        <%= breadcrumbs autoroot: false, style: :bootstrap %>
      </div>
    <div class="<%= body_class.split(" ").include?('admin-page_templates-live') ? 'container-fluid' : 'container' %>">
      <%= yield %>
    </div>
    <div id="modal-overlay" class="patience"><i class="fa fa-spinner loader fa-spin"></i><span id="load-spin">Updating!</span></div>

  </body>
</html>
