<!DOCTYPE html>
<html>
  <head>
    <title>ElPhotography</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>


  <body class="<%= body_class %>">
    <%= render :partial => 'alerts_and_notices' %>
    <nav class="navbar navbar-light bg-faded">
      <%= link_to "ESP", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        
        <%= active_link_to "Home", main_app.admin_root_path, active: :exact, class: "nav-item nav-link" %>
        <%= active_link_to "Photos", main_app.admin_photos_path, class: "nav-item nav-link" %>
        <%= active_link_to "Videos", main_app.admin_videos_path, class: "nav-item nav-link" %>
        <%= active_link_to "Tags", main_app.admin_tags_path, class: "nav-item nav-link" %>
        <%= active_link_to "Products", main_app.admin_products_path, class: "nav-item nav-link" %>
        <%= active_link_to "Orders", main_app.admin_orders_path, class: "nav-item nav-link" %>
        <%= link_to "Sign Out", main_app.destroy_user_session_path, method: :delete, class: "nav-item nav-link pull-right" %>
        <%# active_link_to "Templates", admin_page_templates_path, class: "nav-item nav-link" %>
        <%# active_link_to "Themes", admin_themes_path, class: "nav-item nav-link" %>
        
      </ul>
    </nav>
      <div class='crumbs'>
        <%= breadcrumbs autoroot: false, style: :bootstrap %>
      </div>
    <div class='container'>
      <%= yield %>
    </div>
    <div id="modal-overlay" class="patience"><i class="fa fa-spinner loader fa-spin"></i><span id="load-spin">Updating!</span></div>

  </body>
</html>
