<!DOCTYPE html>
<html>
  <head>
    <title>ElPhotography</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <%= link_to "ESP", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        
        <%= active_link_to "Home", admin_root_path, active: :exact, class: "nav-item nav-link" %>
        <%= active_link_to "Photos", admin_photos_path, class: "nav-item nav-link" %>
        <%= active_link_to "Videos", admin_videos_path, class: "nav-item nav-link" %>
        <%= active_link_to "Tags", admin_tags_path, class: "nav-item nav-link" %>
        <%= active_link_to "Themes", admin_themes_path, class: "nav-item nav-link" %>
      </ul>
    </nav>
    
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
