<!DOCTYPE html>
<html>
  <head>
    <title>ElPhotography</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    
    <%= stylesheet_link_tag(Theme.active.css_file) if Theme.active %>
  </head>

  <body class="<%= theme_class %>">
    <header class='front-header'>
      <nav class='front-navigation'>
        <span class="front-nav-item">
          <%= link_to "Home" %>
          <%= link_to "Photography" %>
          <%= link_to "Video" %>
          <%= link_to "Shop" %>
          <%= link_to "About" %>
        </span>
      </nav>
    </header>
    
    <div class='container-fluid'>
      <%= yield %>
    </div>

  </body>
</html>
