<!DOCTYPE html>
<html>
  <head>
    <title>
			<% if content_for :page_title %>
				<%= yield :page_title %>
			<% else %>
				Elliot Polinsky Photography
			<% end %>
		</title>
		
		<meta name="description" content="Philadelphia Based Photo and Video">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
	
		<meta property="og:url"                content="https://elliotpolinsky.com" />
		<meta property="og:title"              content="Elliot Polinsky Photography" />
		<meta property="og:description"        content="Philadelphia Based Photo and Video" />
		<meta property="og:image"              content="<%= @facebook_image.image_url %>" />
		
    <script src="https://use.typekit.net/cpm5szs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <% if Theme.active %>
      <style type="text/css" media="screen">
        <%= Theme.active.css %>
      </style>
    <% end %>
		
		<% if Rails.env.production?  %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-88161408-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<% end %>
    
    <%= yield :page_meta %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		
    <%= yield :extra_js %>
		
  </head>

  <body class="<%= theme_class %> <%= body_class %> <%= @mobile ? 'mobile' : 'not-mobile'  %>">
    <%= render :partial => 'alerts_and_notices' %>
    <div class='front-wrap'>
    <div class='container-fluid'>
      <div class='elp-container header center'>
        <%= render :partial => 'front_header' %>
      </div>
    </div>
    
    <% unless body_class == 'carts carts-show' %>
      <div class='cart-slice'>
        <%= render :partial => 'shopping_cart', locals: {cart: @cart} %>
      </div>
    <% end %>

    
    <div class='container-fluid'>
      <div class='elp-container center main-content'>
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="elp-container center"><p>Copyright <%= Time.zone.now.year %> Elliot Polinsky</p></div>
    </footer>
    </div>

    <div id="modal-overlay" class="patience"><i class="fa fa-spinner loader fa-spin"></i><span id="load-spin">Loading...</span></div>
  </body>
</html>
