<!DOCTYPE html>
<html>
  <head>
    <title>ElPhotography</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <script src="https://use.typekit.net/cpm5szs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag(Theme.active.css_file) if Theme.active %>
    
    <%= yield :extra_js %>
  </head>

  <body class="<%= theme_class %> <%= body_class %>">
    <div class='container-fluid'>
      <div class='elp-container header center'>
        <%= render :partial => 'front_header' %>
      </div>
    </div>
    
    <% unless body_class == 'carts carts-show' %>
      <div class='cart-slice'>
        <%= render :partial => 'shopping_cart', locals: {cart: @cart} %>
      </div>
    <% end %>

    
    <div class='container-fluid'>
      <div class='elp-container center main-content'>
        <%= yield %>
      </div>
    </div>


    <footer>
      <div class="elp-container center"><p>Copyright <%= Time.zone.now.year %> Elliot Polinsky</p></div>
    </footer>
  </body>
</html>
