<!DOCTYPE html>
<html>
  <head>
    <title>ElPhotography</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    
    <%= stylesheet_link_tag(Theme.active.css_file) if Theme.active %>
    <%= yield :extra_js %>
  </head>

  <body class="<%= theme_class %>">
    <%= render :partial => 'front_header' %>
    
    <% unless body_class == 'carts carts-show' %>
      <div class='cart-slice'>
        <%= render :partial => 'shopping_cart', locals: {cart: @cart} %>
      </div>
    <% end %>

    
    <div class='container-fluid'>
      <%= yield %>
    </div>

  </body>
</html>
