<!DOCTYPE html>
<html>
  <head>
    <title>Elliot Polinsky: Admin Preview</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <script src="https://use.typekit.net/cpm5szs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if Theme.active %>
      <style type="text/css" media="screen">
        <%= Theme.active.css %>
      </style>
    <% end %>
    <%= yield :extra_js %>
  </head>

  <body>
    <div class='container elp-container center'>
      <%= yield %>
    </div>
  </body>
</html>
